In [7]:
import gensim
from gensim import corpora

lda = gensim.models.LdaModel.load("../../data/LDA_data/202103240_Step2_clean_data_30/model5.gensim")

In [8]:
import pickle
with open("../../data/LDA_data/202103240_Step2_clean_data_30//corpus.pkl",'rb') as f:
    corpus = pickle.load(f)

In [4]:
with open("clean_data.pkl",'rb') as f:
    data = pickle.load(f)

In [5]:
len(data)

3804

In [9]:
with open("clean_doc.pkl",'rb') as f:
    clean_doc = pickle.load(f)

## doc and top matrix

In [6]:
#init
import numpy as np
import pandas as pd
d = np.zeros((len(corpus),30))

In [7]:
for i, doc in enumerate(lda[corpus]):
    # print(doc)
    for topic in doc:
        d[i][topic[0]] = topic[1]

In [1]:
del doctm['data']

NameError: name 'doctm' is not defined

In [35]:
doctm = pd.DataFrame(d, columns=range(1,31))

In [11]:
clean_doc = clean_doc[0] +clean_doc[1] +clean_doc[2]

In [37]:
doctm['paper'] = clean_doc

In [13]:
ind = np.argwhere(d==np.amax(d,1, keepdims=True))

In [14]:
import pandas as pd
ind = pd.DataFrame(ind, columns=['doc_id',"max_topic"])

In [20]:
ind.groupby('max_topic')['doc_id'].nunique()

max_topic
0      47
1     260
2     102
3     304
4      12
5     169
6     115
7      42
8      89
9     105
10    198
11     56
12     88
13    185
14    104
15    132
16    135
17    144
18     13
19      8
20    280
21    382
22    164
23     55
24    114
25    185
26     94
27     40
28    174
29     37
Name: doc_id, dtype: int64

In [15]:
topic_num_docid = []
for i,x in ind.iterrows():
    if x['max_topic'] ==4:
        topic_num_docid.append(x['doc_id'])
        # print(x['doc_id'],end="  ")

In [38]:
doctm['max_top'] = ind['max_topic']+1

In [22]:
doctm['token'] = data

In [17]:
doctm = doctm[['paper', 1, 2,3,4,5,6,7,8,9,10,'max_top']]

In [18]:
K = lda.num_topics
topicWordProbMat = lda.print_topics(K)
df = pd.DataFrame(np.matrix(topicWordProbMat))

In [25]:
import re
li=[]

for index,x in enumerate(topicWordProbMat):
    topic_dic={}
    topic_dic['topic'] =index+1
    for i,row in enumerate(x[1].split(" + ")):      
        topic_dic[f'word {i+1}'] = re.findall("\"\S+\"",row)
    li.append(topic_dic)

In [28]:
df =pd.DataFrame(li)

In [29]:
with open("df_30.pkl",'wb') as f:
    pickle.dump(df,f)

In [21]:
df['top_word'] = df[1]

In [22]:
df.index

RangeIndex(start=0, stop=30, step=1)

In [23]:
df[['index']] = df.index+1

In [39]:
doctm

,1,2,3,4,5,6,7,8,9,10,...,23,24,25,26,27,28,29,30,paper,max_top
0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.873401,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,"[ 國立臺灣師範大學化學系 碩士論文 Department of Chemistry, Na...",9
1,0.000000,0.000000,0.000000,0.129434,0.0,0.000000,0.025684,0.0,0.000000,0.336331,...,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.036479,0.0,[ 國立臺灣師範大學運動與休閒學院 運動休閒與餐旅管理研究所 碩士學位論文 不同形式之自然體...,11
2,0.000000,0.000000,0.000000,0.879153,0.0,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,[ 國 立臺灣師範大學科技應用與人力資源發展學系 碩士論文 職場排擠對員工工作態度與行為之影...,4
3,0.210785,0.000000,0.000000,0.496845,0.0,0.000000,0.000000,0.0,0.042124,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,[ 國立臺灣師範大學生命科學系 碩士論文 Rab18透過催乳素調控產後母鼠成年神經元新生、育...,4
4,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.034866,...,0.096122,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,[ 國立臺灣師範大學社會工作學研究所 碩士論文 跨境工作者服務經驗之初探 The servi...,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3799,0.000000,0.689110,0.000000,0.000000,0.0,0.000000,0.016239,0.0,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,[ 國立臺灣師範大學運動與休閒學院體育學系 博士論文 Department of Physi...,4
3800,0.000000,0.000000,0.000000,0.016015,0.0,0.000000,0.000000,0.0,0.000000,0.000000,...,0.600542,0.0,0.000000,0.000000,0.000000,0.0,0.216594,0.0,[ 國立臺灣師範大學教育學院教育學系 博士論文 Department of Educatio...,4
3801,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.0,0.054148,0.832671,0.000000,0.0,0.081203,0.0,[國立臺灣師範大學教育學院教育學系 博士論文 Department of Education...,22
3802,0.000000,0.000000,0.000000,0.000000,0.0,0.024781,0.046504,0.0,0.000000,0.000000,...,0.000000,0.0,0.000000,0.104029,0.000000,0.0,0.000000,0.0,[國立臺灣師範大學運動與休閒學院體育學系 博士論文 Department of Physic...,22
3803,0.000000,0.624211,0.345863,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.011965,0.0,0.000000,0.0,[ 國立臺灣師範大學美術學系博士班博士論文 美術創作理論組-水墨畫 指導教授：林昌德教授 指...,22

In [42]:
doctm_t = doctm.T

In [62]:
len(doctm)

3804

In [81]:
doctm.columns

Index([        1,         2,         3,         4,         5,         6,
               7,         8,         9,        10,        11,        12,
              13,        14,        15,        16,        17,        18,
              19,        20,        21,        22,        23,        24,
              25,        26,        27,        28,        29,        30,
         'paper', 'max_top',   'token'],
      dtype='object')

In [166]:
doctm =doctm[[1,	2	,3,	4,	5,	6,	7,	8,	9,	10,	'max_top']]

In [172]:
with open("df.pkl",'wb') as f:
    pickle.dump(doctm,f)

In [40]:
with open("doctm.pkl",'wb') as f:
    pickle.dump(doctm,f)

In [32]:
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure

figure(figsize=(12, 6), dpi=80)
x_pos = np.arange(1,31)
w =1000
F = []
for i in range(30):
    F.append(doctm[i+1][5])
# F = [doctm[1][w],doctm[2][w],doctm[3][w],doctm[4][w],doctm[5][w],doctm[6][w],doctm[7][w],doctm[8][w],doctm[9][w],doctm[10][w]]
plt.bar(x_pos, F)

plt.xticks(range(1,30))
plt.ylim(0,1)

plt.show()

KeyError: 11

In [115]:
docid = 1
doctm[doctm.index == docid]

,paper,token,1,2,3,4,5,6,7,8,9,10,max_top
1,[ 國立臺灣師範大學運動與休閒學院 運動休閒與餐旅管理研究所 碩士學位論文 不同形式之自然體...,"[[國立臺灣師範大學, 運動, 休閒, 學院, 運動休閒, 餐旅管理, 研究所, 碩士, 學...",0.016277,0.013808,0.0,0.158678,0.0,0.0,0.032807,0.43902,0.0,0.339389,8

1

In [142]:
doctm[doctm.index == docid][['paper','token']]

,paper,token
1,[ 國立臺灣師範大學運動與休閒學院 運動休閒與餐旅管理研究所 碩士學位論文 不同形式之自然體...,"[[國立臺灣師範大學, 運動, 休閒, 學院, 運動休閒, 餐旅管理, 研究所, 碩士, 學..."

In [161]:
# for x in doctm[doctm.index == 1]['paper']:
#     print(x)
a = pd.DataFrame({'paper':data[1]})

In [155]:
len(doctm[doctm.index == 1]['paper'])
    # print(x)
    # break

1

In [1]:
with open("topdf_50.pkl" ,'rb') as f:
    aaa = pickle.load(f)

FileNotFoundError: [Errno 2] No such file or directory: 'df_50.pkl'